

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ravi Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="guestbook.css">
</head>
<body class="container">
<div class="header-container">
            <header class="wrapper clearfix">
                
				<h1 style="text-shadow: 4px 4px 4px #aaa;" class="title">Welcome to my Page</h1>
                <nav>
                    <ul>
                       	
						<li><a class="fa fa-home" href="index.html"> Home</a></li>
                        <li><a class="fa fa-cloud" style="text-shadow: 4px 4px 4px #aaa;" href="Order.html"> Order</a></li>
                        <li><a class="glyphicon glyphicon-user" href="Contact.html"> Contact</a></li>
                   
                    </ul>
                     <a class="glyphicon glyphicon-user" href="/gbapp.js"> Guestbook</a>
                </nav>
            </header>
        </div>
<h1 style="color:blue" align="center">
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>

